@media screen and (max-width: 768px){
    header .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    header .container .logo {
        margin: 0 auto;
    }
    .botao {
        margin-top: 5px;
        width: 300px;
    }
}

@media screen and (min-width: 1024px){
    .descricao {
        width: 50%;
    }
}